.nav-bar {
    background: linear-gradient(-70deg, rgb(209, 206, 206), rgb(165, 223, 30));
    height: 30px;
    margin-bottom: 10px;
}

.color-box {
    width: 40px;
    height: 25px;
    margin-top: 5px;
}
.disableButton {
    background-color: #d8d8d8
}
.disableButton1 {
    background-color: #d8d8d8
}
.inStock{
    color: blue;
}
.outOfStock {
    text-decoration: line-through
}
.selectedTab {
    font-style: italic;
}
body{
    color: rgb(70, 68, 68);
    font-family: cambria;
}